.main-sidebar {
  .side-menu__item {
    padding: 0.45rem 1.6rem;
  }
}
.sidebar-logo {
  color: rgba(255, 255, 255, 0.8);
  width: 60px;
  height: 60px;
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.8125rem 0.5rem;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
  .brand-image {
    float: left;
    line-height: 0.8;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .font-weight-light {
    font-weight: 300 !important;
  }
}
